.navbar {
    padding: 10px 0 10px 0;
}
.navbar .burger-button {
    display: none !important;
}
.navbar .right-item {
    z-index: 99999 !important;
    margin: 0 !important;
    padding: 0 !important;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .navbar .burger-button {
        cursor: pointer;
        display: flex !important;
    }

    .navbar .right-item {
        position: absolute !important;
        top: 50px;
        left: 0;
        background-color: #f1f1f1 !important;
        width: 100%;
        display: none !important;
    }

    .navbar .right-item .item {
        width: 75% !important;
    }

    .navbar .right-item .item:hover {
        color: #6b6b6b !important;
        background-color: transparent !important;
    }

    .navbar .right-item.show {
        display: flex !important;
    }
}